{% extends 'main.html'%}
{% block contenu %}
<div class="row">
    <div class="class=col-xs-9">
        <div class="card card-body">
            <h5>Liste des chefs </h5>
            <hr>
            <div class="card card-body">
                 <a class="btn btn-primary btn-sm btn-block" href="">Ajouter un Chef</a>

                <table class="table table-sm">
                    <tr>
                        <th>Nom et Prenom</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Action</th>

                    </tr>
                    {% for chef in chefs %}
                    <tr>
                        <th>{{chef.nom}} {{chef.prenom}}</th>
                        <th>{{chef.email}}</th>
                        <th>{{chef.telephone}}</th>
                        <th><a class='btn btn-sm btn-info' href="">Mise à Jour</a>
                            <a class='btn btn-sm btn-danger' href="">Supprimer</a>
                        </th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}