{% extends 'main.html'%}
{% block contenu %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
             <h5>Liste de mes reclamation </h5>
             <hr>
            <div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>objet</th>
                    <th>date_creation</th>
                    <th>statut</th>
                     <th>date_solution</th>

                      <th>Modifier</th>
                     <th>Détailler</th>
                     <th>Supprimer</th>

				 </tr>
                     {% for reclamations in reclamations %}
                    <tr>
                    <th>{{reclamations.objet}}</th>
                    <th>{{reclamations.date_creation}}</th>
                    <th>{{reclamations.statut}}</th>
                    <th>{{reclamations.date_solution}}</th>
                    <th><a class='btn btn-sm btn-info' href="{% url 'modifier_reclamation_responsable' reclamations=reclamations.id  pk=responsable.id  %}">Mise à jour</a></th>
                    <th><a class='btn btn-sm btn-success' href="">Détailler</a></th>
                    <th><a class='btn btn-sm btn-danger' href="{% url 'supprimer_reclamation_responsable' reclamations=reclamations.id  pk=responsable.id %}">Supprimer</a></th>
                    </tr>
                     {% endfor %}
			</table>
            </div>
		</div>
	</div>
</div>
{% endblock %}