{% extends 'main.html'%}
{% block contenu %}
<div class="row">
<div class="col-md-6">
    <div class="card card-body">
        <p>Voulez-vous supprimer la reclamation ?</p>
        <form action="{% url 'supprimer_reclamation_responsable' reclamations=reclamations.id  pk=responsable.id %}" method="POST">
          {% csrf_token %}
             <a class="btn btn-warning" href="{% url 'list_reclamation_responsable' pk=responsable.id %}">Annuler</a>
             <input class="btn btn-danger" type="submit" name="Confirmer">
        </form>
    </div>
</div>
    </div>
{% endblock %}